In [8]:
numbers = [1,2,3,4,5]
for num in numbers:
    print(num)

1
2
3
4
5

In [20]:
for N in [1,2,3,4,5]:
    print(N, end=' ')

1 2 3 4 5

In [21]:
for number in range(1,6):
    print(number, end=' ')

1 2 3 4 5

In [17]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [22]:
for N in range(3,31,3):
    print(N)

3
6
9
12
15
18
21
24
27
30

In [24]:
total=0
for N in range(1,6):
    total+=N
print(total)

15

In [26]:
places = ["kamigyo ku","nakagyo ku","sakyo ku"]
new_places =[]

for place in places:
    new_places.append(place.capitalize().replace(" ","-"))
print(new_places)

['Kamigyo-ku', 'Nakagyo-ku', 'Sakyo-ku']

In [ ]:
total =0 
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

for key in basket_items:
    for fruit in fruits: